
.white {
  background: #fff;
}
.white h1 {
  background: #333;
  color: #fff;
}
.coloured.green {
  background: #7f7;
  color: #22b;
}
.green h1 {
  background: #22b;
  color: #7f7;
}
.coloured.yellow {
  background: #fd6;
  color: #22b;
}
.yellow h1 {
  background: #22b;
  color: #fd6;
}
