* {
  box-sizing: border-box !important;
  background-color: inherit;
  color: inherit;
}
html {
  scroll-snap-type: y proximity;
}

html, body, main {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  padding: 0 1em;
  font-weight: 400;
  line-height: 1.2;
  font-family: monospace, sans-serif;
}

h1 {
  font-size: 2em;
}

a, button.aslink {
  color: #d22;
  text-decoration: none;
}
a:hover, button.aslink:hover {
  color: inherit;
  outline: 3px solid #d22;
  outline-offset: 0.2em;
}
a.external {
  text-decoration: underline;
  border-bottom: none;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
