html, body, main {
  width: 100%;
  margin: 0;
  padding: 0;
}

section {
  -padding: 0 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  padding: 2em;
  flex: 1;
}

.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}

p.big {
  -font-size: 1.2em;
  font-family: monospace, sans-serif;
}
p.bigger {
  -font-size: 1.4em;
}
