html {
  background: #fff;
  color: #333;
}

a, button.aslink {
  text-decoration: none;

  background-image: linear-gradient(
    transparent 0%,
    transparent 50%,
    rgba(255, 220, 20, 0.75) 50%,
    rgba(255, 220, 20, 0.75) 100%);
}
a:hover, button.aslink:hover {
  background: #fc0;
}
